.button_cog {
	height: 100%;
	cursor: pointer;
	transition: transform 500ms ease-out;
	transform-origin: center;
	margin-left: 10px;
	padding: 0;
	color: $l_input_regular_text;
}
.button_cog_active {
	color: $l_input_regular_text_active;
	transform: rotate(-70deg);
}