nav {
	width: 270px; /* Связано с margin-left у mainWrapper */
	min-width: 270px;
	background-color: #e8e8e8;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #777;
	position: fixed;
	left: 0;
	height: 100%;
	z-index: 2;
	border-right: 1px solid #ccc;
}
.nav-cape {
	display: flex;
	margin-top: -2px; /* Компенсирует сдвиг тени */
	background-color: #ddd;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-top: 30px;
	min-height: 120px; /* Высота svg */
	margin-bottom: 40px;
}
.nav-cape-heart {
	width: 120px;
	height: 120px;
}
.nav-cape-heart-path {
	fill: #900;
	fill-opacity: 0;
	stroke-opacity: 0;
	stroke: #900;
	stroke-width: 2;
	stroke-linecap: round;
	transform-origin: 25px 25px; /* Т.к. ФФ не понимает значение "center" для svg */
	stroke-dasharray: 0, 110;
	animation: heart-draw, heart-strokeOpacity, heart-fillOpacity, heart-beatFast, heart-beatSlow;
	animation-duration: 2.5s, 2.5s, 1s, 1.5s, 5s;
	animation-timing-function: ease-out, linear, ease-in, ease, cubic-bezier(.63, .12, 1, .50);
	animation-delay: 0.5s, 0.5s, 2.7s, 3.7s, 10s;
	animation-iteration-count: 1, 1, 1, 1, infinite;
	animation-direction: alternate, alternate, alternate, normal, alternate;
	animation-fill-mode: forwards, forwards, forwards, none, none;
}
.nav-sitename {
	font-family: 'Sofia', cursive;
	font-size: 26px;
	width: 80%;
	color: #900;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	flex-shrink: 0;
	white-space: nowrap;
}
.nav-services {
	margin-top: 20px;
	list-style: none;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	flex-grow: 1;
}
.nav-services a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.nav-services a:hover {
	text-decoration: none;
}
.nav-services > li {
	height: 50px;
	transition: background-color .2s ease-out 0s;
	box-sizing: border-box;
}
.nav-services > li:hover > a {
	background-color: #d0d0d0;
}
.nav-services > li:active > a {
	background-color: #b9b9b9;
}
.nav-services-service_current {
	background-color: #ddd;
}
.nav-account_controls {
	margin: 30px 0;
	display: flex;
	justify-content: center;
}
.nav-account_controls > a:first-child {
	margin-right: 25px;
}
nav a {
	color: inherit;
}

.nav-mobile_dropdown {
	display: none;
}

@media (max-width: 900px) {
	nav {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		min-height: 80px;
		border-right: none;
		flex-direction: row;
		justify-content: space-between;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
	}
	.nav-separator, .nav-sitename {
		display: none;
	}
	.nav-mobile_dropdown {
		display: block;
		width: calc(50% - 50px);
		height: 100%;
		padding: 0 20px;
		cursor: pointer;
		z-index: 9;
		text-transform: uppercase;
		box-sizing: border-box;
		background-color: transparent;
	}
	.nav-services {
		width: 30%;
		position: absolute;
		top: 80px;
		left: calc(25% - 25px); /* Четверть всей длины минус четверть длины логотипа */
		transform: translateX(-50%);
		background-color: #e8e8e8;
		z-index: 8;
		padding: 0;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border: 1px solid #ccc;
		border-top: none;
		margin-top: -1px; /* Скрывает border-bottom у nav в месте наложения */
		padding-top: 1px; /* Скрывает border-bottom у nav в месте наложения */
	}
	.nav-services_collapsed {
		display: none;
	}
	.nav-services_expanded {
		display: block;
	}
	.nav-services > li:last-child {
		border-radius: inherit;
	}
	.nav-services > li > a {
		padding: 0 10px;
		box-sizing: border-box;
	}
	.nav-services > li:last-child > a {
		border-radius: inherit;
	}
	.nav-cape {
		min-height: 100px; /* Высота svg */
		padding-top: 25px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		align-self: flex-start;
		z-index: 9;
		margin-bottom: 0;
	}
	.nav-cape-heart {
		width: 100px;
		height: 100px;
	}
	.nav-account_controls {
		padding: 10px 20px;
		margin: 0;
		justify-content: flex-end;
		align-items: center;
		width: calc(50% - 50px);
		height: 100%;
		box-sizing: border-box;
	}
}
@media (max-width: 400px) {
	.nav-account_controls {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.nav-account_controls > a:first-child {
		margin-right: 0;
	}
}