nav {
	border-right: 1px solid #555;
	background-color: #444;
}
.nav-cape {
	background-color: #333;
}
.nav-sitename {
	border-bottom: 1px solid #555;
}
.nav-services > li:hover {
	background-color: #555;
}

@media (max-width: 900px) {
	nav {
		border-right: none;
		border-bottom: 1px solid #555;
	}
	.nav-services {
		background-color: #444;
		border: 1px solid #555;
		border-top: none;
	}
}