.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 270px; /* Связано с width у nav */
	width: 100%;
}
main { /* Общие свойства для всех подключаемых блоков, остальные в соответствующих файлах */
	flex-grow: 1; /* Прижимает футер книзу */
	opacity: 0;
	animation: fade-in 300ms ease-in forwards;
	color: #777; /* Основной цвет текста */
}

@media (max-width: 900px) {
	.content {
		width: 100%;
		margin-left: 0;
		padding-top: 40px;
	}
}