.mainpage {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	width: 60%;
	font-size: 20px;
}
.mainpage > h3 {
	font-size: 22px;
	margin: 0;
}
.mainpage > p {
	margin-bottom: 10px;
}
.mainpage > p:last-child {
	margin-bottom: 0;
}
.mainpage a {
	color: inherit;
}

@media (max-width: 900px) {
	.mainpage {
		margin-top: 70px;
		width: 80%;
	}
}
@media (max-width: 500px) {
	.mainpage {
		font-size: 16px;
		margin-top: 30px;
	}
	.mainpage > h3 {
		font-size: 18px;
	}
}