.timeline {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: width 500ms ease-out;
}
.timeline-controls {
	display: flex;
	margin-top: 50px;
	width: 100%;
	justify-content: space-between;
}
.timeline-controls-yearChoice {
	display: flex;
	flex-direction: column;
}
.timeline-controls-name {
	margin-bottom: 7px;
	white-space: nowrap;
}
.timeline-controls-yearChoice-years {
	display: flex;
	flex-wrap: wrap;
}
.timeline-controls-yearChoice-years-year {
	margin-right: 10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.timeline-controls-yearChoice-years-year:last-child {
	margin-right: 0;
}
.timeline-controls-yearChoice-years-year::before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #777;
	position: absolute;
	transition: left 300ms ease-out, bottom 0s linear 300ms, transform 300ms ease-out 300ms;
	pointer-events: none;
}
.timeline-controls-yearChoice-years-line_under::before {
	left: 0;
	bottom: 0;
}
.timeline-controls-yearChoice-years-line_over::before {
	left: -100%;
	bottom: 40%;
	transform: translateX(100%);
}
.timeline-controls-toggle_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.timeline-controls-search {
	margin: 0 20px;
	flex-grow: 0.8;
}
.timeline-controls-search-input {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	font-size: 16px;
	color: inherit;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
}
.timeline-controls-search-input:focus {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.timeline-eventslist {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 100%;
	position: relative;
}
.timeline-eventslist::before {
	content: "";
	display: block;
	background-image: linear-gradient(to bottom, #900 calc(100% - 150px), transparent);
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 190px; /* Ширина блока даты + половина ширины блока иконки */
	transform: translateX(-50%);
	z-index: 1;
}
.timeline-eventslist[data-size="0"]::before {
	display: none;
}
.timeline-eventslist-date {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 125px;
	min-width: 125px;
}
.timeline-eventslist-date-day {
	font-size: 20px;
	color: #900;
	white-space: nowrap;
	line-height: 70px; /* Высота иконки */
}
.timeline-eventslist-date-year {
	font-size: 50px;
	font-weight: bold;
	color: #ccc;
	margin-top: -30px; /* Компенсация line-height у блока с числом месяца */
}
.timeline-eventslist-icon {
	border: 7px solid #900;
	background-color: #e8e8e8;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	min-width: 70px;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 0 30px;
	z-index: 2;
	cursor: pointer;
	transition: border-radius 200ms linear;
}
.timeline-eventslist-icon_rounded {
	border-radius: 50%;
}
.timeline-eventslist-icon_squared {
	border-radius: 15%;
}
.timeline-eventslist-descr {
	background-color: #ddd;
	padding: 30px 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	z-index: 2;
	width: 100%; /* IE */
	box-sizing: border-box;
	position: relative;
}
.timeline-eventslist-descr::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-color: inherit; /* Т.к. цвета блоков описаний чередуются */
	position: absolute;
	top: 32px;
	left: -10px;
	transform-origin: center;
	transform: rotate(45deg) translate(-25%, -25%);
	z-index: 1;
}
.timeline-eventslist-descr > h3 {
	margin: 0;
	z-index: 2;
}
.timeline-eventslist-descr > p {
	margin: 0;
	border-top: 1px solid #bbb;
	margin-top: 15px;
	padding-top: 10px;
	font-size: 16px;
	z-index: 2;
}
.timeline-eventslist > li {
	list-style: none;
	display: flex;
	flex-grow: 1;
	margin-bottom: 70px;
	margin-top: 150px;
	animation: events-up;
	animation-duration: 500ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.timeline-eventslist > li:nth-child(7) ~ li {
	margin-top: 0;
	animation: none;
}
.timeline-eventslist > li:first-child {
	margin-top: 0;
	animation: none;
}
.timeline-eventslist > li:nth-child(2n) > .timeline-eventslist-descr {
	background-color: #eee;
}
.timeline-eventslist > li:last-child {
	display: none;
}
.timeline-eventslist > li:only-child {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 40px;
}


@media (max-width: 1300px) {
	.timeline {
		width: 90%;
	}
}
@media (max-width: 900px) {
	.timeline-eventslist-date-year {
		font-size: 30px;
		margin-top: -25px;
	}
}
@media (max-width: 600px) {
	.timeline-eventslist > li {
		flex-direction: column;
		margin-bottom: 50px;
	}
	.timeline-eventslist-icon {
		margin-top: -60px; /* Высота иконки */
		align-self: flex-end;
		display: none;
	}
	.timeline-eventslist-descr {
		margin-top: 20px;
	}
	.timeline-eventslist-descr > h3 {
		text-align: center;
	}
	.timeline-eventslist::before {
		display: none;
	}
	.timeline-eventslist-descr::before {
		left: 30px;
		top: -3px;
	}
	.timeline-eventslist-date {
		flex-direction: column-reverse;
		align-items: flex-start;
		margin-left: 20px;
	}
	.timeline-eventslist-date-day {
		line-height: normal;
	}
	.timeline-controls {
		flex-wrap: wrap;
	}
	.timeline-controls-yearChoice {
		order: 1;
		width: 50%;
	}
	.timeline-controls-search {
		order: 3;
		width: 100%;
		flex-grow: 1;
		margin: 20px 0;
	}
	.timeline-controls-toggle_wrapper {
		order: 2;
		width: 50%;
	}
}