.timeline-eventslist-date-year {
	color: #777;
}
.timeline-eventslist-icon {
	background-color: #333;
}
.timeline-eventslist-descr {
	background-color: #999;
	color: #444;
}
.timeline-eventslist-descr > p {
	border-top: 1px solid #777;
}
.timeline-eventslist > li:nth-child(2n) > .timeline-eventslist-descr {
	background-color: #ccc;
}
.timeline-controls-search-input {
	transition: all 0s ease 0s;
	border: 1px solid #555;
}
.timeline-controls-search-input:focus {
	border: 1px solid #777;
	box-shadow: 0 2px 5px 0px rgba(200, 200, 200, 0.1);
}