@font-face {
	font-family: 'Clear Sans';
	src: url('/static/fonts/ClearSans/ClearSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Clear Sans';
	font-weight: bold;
	src: url('/static/fonts/ClearSans/ClearSans-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Clear Sans';
	font-style: italic;
	src: url('/static/fonts/ClearSans/ClearSans-Italic.woff') format('woff');
}
@font-face {
	font-family: 'Sofia';
	src: url('/static/fonts/Sofia/Sofia-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'fontello';
	src: url('/static/fonts/Fontello/fontello.woff') format('woff');
}