footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 90%;
	height: 60px;
	min-height: 60px;
	border-top: 1px solid $l_border;
	color: $l_text_minor;
	margin-top: 100px;
}