header {
	width: 90%;
	min-height: 80px;
	border-bottom: 1px solid $l_border;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	animation: fade-in 300ms ease-in forwards;
	
	@media (max-width: 900px) {
		cursor: pointer !important;
	}
}
.header-title {
	color: $l_decor;
	text-align: center;
	margin: 0;
}