.shortener-form-urlField-input {
	transition: all 0s ease 0s;
	border: 1px solid #555;
}
.shortener-form-urlField-input:focus {
	border: 1px solid #777;
	box-shadow: 0 2px 5px 0px rgba(200, 200, 200, 0.1);
}
.shortener-form-urlField-input::-webkit-input-placeholder {
	color: #555;
}
.shortener-form-urlField-input::-moz-placeholder {
	color: #555;
}
.shortener-form-urlField-input::-ms-input-placeholder {
	color: #555;
}
.shortener-form-urlField-input:-ms-input-placeholder {
	color: #555;
}
.shortener-form-optionsWrapper {
	background-color: #444;
}
.shortener-form-options {
	border-top: 2px dashed #555;
	border-bottom: 2px dashed #555;
}
.shortener-form-options-input {
	border-bottom: 1px solid #777;
}